@import '../../styles/themeColors';
$bg-img: url('../../images/background-hero.jpg');
.header-hero {
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), $bg-img;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .hero-text-box {
        flex: 3;
        display: flex;
        align-items: center;
        max-width: 90%;
        height: 200px;
        background-color: transparent;
        h1 {
            display: table-caption;
        }
        .lead {
            color: $themeColor-White;
            margin-left: 5px;
            letter-spacing: 1px;
            word-spacing: 4px;
        }
    }
    .header-followup {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        p {
            color: $themeColor-White;
            margin: 5px;
            letter-spacing: 1px;
            word-spacing: 4px;
        }
        a {
            align-self: center;
        }
    }
}